<h1>Sign up</h1>
<%= form_for(@user) do |f| %>
  <%= render 'fields', :f => f %>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
<p>Find me in app/views/users/new.html.erb</p>
